*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    height:100vh;
    background:linear-gradient(135deg,#141e30,#243b55);
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background:#111;
    padding:20px;
    border-radius:16px;
    width: 300px;
    box-shadow:0,15px,40px rgba(0,0,0,0.5);
}
#display{
    width:100%;
    height:60px;
    background:#222;
    border-radius:10px;
    color:#fff;
    font-size:24px;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    border:none;
    outline:none;
    color:#fff;
}
.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}
.btn{
    padding:18px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#333;
    color:#fff;
    cursor:pointer;
    transition: 0.2s;
}
.btn:hover{
    background:#555;
}
.operator{
    background:#ff9500;
}
.operator:hover{
    background:#ffa733;
}
.equal{
    background:#34c759;
    grid-row: span 2;
}   
.clear{
    background:#ff3b30;
}
.clear:hover{
    background:#ff5c4b;
}
.zero{
    grid-column: span 2;
}